.app {
  text-align: center;
  background-color: #040A0A;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app-microphone {
  height: 80px;
  pointer-events: none;
  position: relative;
  margin: 10px;
}

.app-logo-frame {
  border: 1px solid red;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}
*/

.app-header {
  border: 1px solid silver;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  margin-top: 0;
  color: white;
  overflow: hidden;
  background-color: #040A0A;
}

.app-header div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
}

.app-footer a {
  position: absolute;
  right: 10px;
  top: 10px;
}

.app-link {
  color: #61dafb;
}

.app-main {
  position:absolute; 
  top:100px;
  bottom:50px;
  width: 100%;
  min-width: 640px;
  background-color: #040A0A; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./img/stage1-large-wide-short.jpg");
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.app-tabs{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  height: 40px;
}

.app-tabs button {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #040A0A;
  color: #FDFDFD;
  border: 1px solid #FDFDFD;
}

.app-footer {
  position: absolute;
  height: 50px;
  background-color: #040A0A;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.app-stage {  
  padding: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.app-stage-title {
  font-size: 30px;
  color: #FDFDFD;
  text-shadow: 2px 2px 4px #000000;
  position: relative;
  top: -4px;
}

.app-stage-gallery {
  max-width: 640px;
}

.react-tabs { 
  position: absolute;
  top: 30px;
  height: 45px;
}

.react-tabs__tab {  
  padding: 2px 12px;  
  height: 40px;
}
.react-tabs__tab--selected {
  border-radius: 5px 5px;
}

.react-tabs__tab:focus:after {
  content: '';
  position: unset;
  height: unset;
  left: unset;
  right: unset;
  bottom: unset;
  background: #fff;
}

.react-tabs__tab-list {
  border-bottom: unset;
  margin: 0 0 10px;
  padding: 0;
}